@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf");
  font-style: bold;
  font-weight: 800;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: none !important;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
  --themeColor: green;
  --color: #212529;
  --lightBackground: white;

  --darkThemeColor: green;
  --darkColor: white;
  --darkBackground: #36393f;
  --darkBackgroundAlt: #2f3136;
}

/* HEADER */

.pageHeader{
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  color: white;
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.navbar{
  display: flex;
  justify-content: flex-end;
}

.navbar > p{
  padding: 0 10px;
  font-weight: 300;
  font-size: 1.2em;
}
.navBrand img{
  height: 40px;
  filter: brightness(1000) saturate(0) contrast(100);
}
