
.secondLayer{
  margin-left: 20px;
}

.thirdLayer{
  margin-left: 40px;
}

.navigationDropdownArrow{
  text-decoration: none !important;
  box-shadow: none !important;
  width: 44px;
  height: 44px;
  border-radius: 0 !important;
  color: var(--themeColor) !important;
  transition: none !important;
}

.navigationDropdownArrow:hover{
  color: white !important;
  background-color: var(--themeColor) !important;
}

.navigationItem{
  padding: 0 !important;
  border: none !important;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: !important;

}

.navigationItemSingle{
  padding: 0 !important;
  border: none !important;
  background-color: white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: !important;

}

.navigationItemSingle:hover{
  background-color: var(--themeColor) !important;
}

.navigationItemSingle:hover .navigationDropdownArrow, .navigationItemSingle:hover .documentLink, .navigationItemSingle:hover .documentLinkContainer{
  color: white !important;
  border-color: var(--themeColor);
}


.navigationDropdownIcon{
  width: 100% !important;
}

.documentLinkContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-left: 1px dotted lightgrey;
}

.documentLinkContainer:hover{
  color: white !important;
  background-color:var(--themeColor) !important;
}

.documentLinkContainer:hover a{
  color: white !important;
  background-color:var(--themeColor) !important;
}

.documentLink{
  text-align: left;
  padding: 10px;
  text-decoration: none !important;
  color: var(--themeColor) !important;
}



.navigationItemContainer{
  border: none !important;
}

.worldsSubtitle{
  color: var(--themeColor);
  border-bottom:1px dotted lightgrey;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.card{
  color: white;
}

.navigationDropdownArrow:hover{
  color: white;
  background-color:var(--themeColor);
}


.worlds{
  --bannerHeight: 30vh;
}

.heroBanner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(180deg, #1a8405, #1a8405e0, #016401d1);
  height:var(--bannerHeight);
  width: 100%;

  font-family: 'Raleway', sans-serif;
}

.heroBanner > * {
    z-index: 100;
}

.heroBanner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bannerHeight);
  background: url("../public/images/regensburgsmall.png") center fixed;
  z-index: -1;
  filter: invert(1);
}

.heroBanner h1{
  color: white;
  font-size: 5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

.heroBanner p{
  color: white;
  font-size: 1.5em;
}

.worldsContainer{
  height: 100vh;
}

.worldsContainer .worldsCard{
  margin-top: 30px;
  border-top: 5px solid var(--themeColor);
}

.worldsContainer .contentCard{
    margin-top: 30px;
    border: none;
}

@media only screen and (max-width: 768px) {
  .heroBanner h1{
    font-size: 3em;
  }
}
