
.worlds{
  --bannerHeight: 40vh;
}

.heroBanner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: linear-gradient(180deg, #1a8405, #1a8405e0, #016401d1);
  height:var(--bannerHeight);
  width: 100%;

  font-family: 'Raleway', sans-serif;
}

.heroBanner > * {
    z-index: 100;
}

.heroBanner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--bannerHeight);
  background: url("../public/images/regensburgsmall.png") center fixed;
  z-index: -1;
  filter: invert(1);
}

.heroBanner h1{
  color: white;
  font-size: 5em;
  padding: 0;
  margin: 0;
}

.heroBanner p{
  color: white;
  font-size: 1.5em;
}
